.model_archive_container {
    margin: 0 auto;
    max-width: 1000px;
}

/* モデルコース概要テキスト（top) */

.model_description {
    position: relative;
    margin-bottom: 80px;
    margin-top: 80px;
    text-align: center;
}

/* 上下イラスト飾り */

.model_pc_img_top img, .model_pc_img img {
    width: 100%;
    object-fit: cover;
}

.model_sp_img {
    text-align: center;
}

/* イラスト：レスポンシブ変更 */

@media screen and (max-width: 480px) {
    .model_pc_img, .model_pc_img_top {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .model_sp_img {
        display: none;
    }
}

/* メインコンテンツ */

.model_spot_wrap {
    margin: 0 3%;
}

.model_pc_img_top {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 各モデルコース画像 */

.model_course_card {
    position: relative;
    height: 75vw;
    max-height: 750px;
}

.model_course_card img {
    width: 100%;
    position: absolute;
    object-fit: cover;
}

/* モデルコース説明テキスト */

.model_text {
    margin: 0 3% 80px;
    text-align: center;
}

.model_text p {
    margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
    .model_text h3, .model_card_description {
        text-align: left;
    }
    .model_more {
        text-align: end;
    }
}