/* ハンバーガーメニュー始 */
.model_spot_wrap ul {
    margin: 0 3%;
}
.model_spot_wrap img,
.model_pc_img_top img,
.model_pc_img img {
    width: 100%;
    object-fit: cover;
}
.model_text {
    margin: 0 2%;
}
.model_card li h3,
.model_card_description {
    text-align: left;
}
.model_more {
    text-align: end;
}

.model_pc_img_top {
    position: absolute;
    transform: translateY(14%) translateX(1%);
}

.model_description h2 {
    margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
    .model_pc_img,
    .model_pc_img_top {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .model_card {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 0 auto;
    }

    .model_sp_img {
        display: none;
    }
    .model_card li {
        width: 30%;
        margin-bottom: 50px;
    }
    .model_card li:not(:nth-child(3n)) {
        margin-right: 4%;
    }
    .model_description {
        position: relative;
        margin-bottom: 80px;
        margin-top: 80px;
    }
}
/* .model_card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.model_sp_img {
    display: none;
}
.model_card li {
    width: 30%;
    margin-bottom: 50px;
}
.model_card li:not(:nth-child(3n)) {
    margin-right: 4%;
} */
