.margin_b20 {
    margin-bottom: 20px;
}

.margin_b50 {
    margin-bottom: 50px;
}

.spot_Contana ul {
    text-align: center;
    margin-bottom: 50px;
}

.center {
    text-align: center;
}

.spot_title {
    font-size: 70px;
    width: 150px;
    height: 70px;
    margin: 50px auto 20px auto;
    margin-right: auto;
}

.underline {
    border-bottom: 2px solid #707070;
}

.stage {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

body {
    transition: all 1s;
}

.bodyfadeout {
    opacity: 0;
}

a {
    cursor: pointer;
}

.spotl_card li {
    width: 45%;
}

.theme_color_light {
    color: #707070;
}

.tag-search {
    font-size: 20px;
    padding-top: 20px;
    border-radius: 100px;
    margin: 0 auto 50px auto;
}

.cat_image {
    width: 40%;
    margin-bottom: 40px;
}

.cat_image.is-hide {
    display: none;
}

.dropmenu {
    padding: 14px 14px 0;
    border: #67A1A6 2px solid;
    background: #fff;
    width: 90%;
    text-align: left;
    height: 55vh;
    overflow-y: auto;
}

.spot_flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.relative {
    position: relative;
}

.raku-select img {
    width: 100%;
    height: auto;
}

.dropmenu li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding-bottom: 1%;
}

.dropmenu li a p {
    padding-left: 5%;
}

.menu-box ul {
    display: none;
}

.spot-photo img {
    width: 100%;
}

@keyframes zoom-in {
    0% {
        transform: scale(.1);
    }
    100% {
        transform: none;
    }
}

.is-animated {
    animation: .6s zoom-in;
}

@media screen and (max-width: 1000px) {}

@media screen and (min-width: 480px) {
    .spot_Contana {
        max-width: 1000px;
        margin: 0 auto;
    }
    .spot_wrap {
        max-width: 1000px;
    }
    .spot_wrap ul {
        margin: 0;
    }
    .spotl_card {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 0 auto;
    }
    .spotl_card li {
        width: 30%;
    }
    .tag-search {
        font-size: 27px;
        padding: 50px 20px 20px 20px;
        max-width: 500px;
    }
    .dropmenu {
        width: 500px;
    }
}
