.model_archive_container {
    margin: 0 auto;
    max-width: 1000px;
}

/* モデルコース概要テキスト（top) */

.model_description h2 {
    margin-bottom: 50px;
}

.model_description {
    position: relative;
    margin-bottom: 100px;
    margin-top: 80px;
    text-align: center;
}

/* 上下イラスト飾り */

.model_head {
    display: flex;
    justify-content: space-around;
}

.model_pc_img_top {
    width: 200px;
}

.right_top {
    position: absolute;
    top: 68px;
    left: 65%;
}

.left_top {
    top: 200px;
    left: 20%;
    position: absolute;
}

.model_pc_img_top img, .model_pc_img img {
    width: 100%;
    object-fit: cover;
}

.model_sp_img {
    text-align: center;
}

/* イラスト：レスポンシブ変更 */

@media screen and (max-width: 480px) {
    .model_pc_img, .model_pc_img_top {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .model_sp_img {
        display: none;
    }
}

/* パンクズ */

.pankuzu {
    padding-left: 50px;
}

.pankuzu ul {
    display: table;
}

.pankuzu ul li {
    margin: 7px 0;
    float: left;
}

/* メインコンテンツ */

.model_spot_wrap {
    margin: 0 3%;
}

@media screen and (min-width: 480px) {
    .model_spot_wrap {
        margin: 0;
    }
}

/* .model_pc_img_top {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* 各モデルコース画像 */

.model_course_card {
    position: relative;
    height: 38vw;
    max-height: 380px;
}

.model_course_card img {
    width: 100%;
    position: absolute;
    object-fit: cover;
}

/* モデルコース説明テキスト */

.model_text {
    margin: 0 3% 80px;
    text-align: center;
}

.model_text h3 {
    font-size: 20px;
    margin: 50px auto;
}

/* 
@media screen and (min-width: 480px) {
    .model_text h3, .model_card_description {
        text-align: left;
    }
    .model_more {
        text-align: end;
    }
} */