html {
     font-family: 'Noto Serif', serif;
     /* font-family: 'Noto Sans JP', sans-serif; */
     font-size: 14px;
     line-height: 32px;
     color: #707070;
}

section {
     margin-bottom: 100px;
}

h2 {
     font-size: 24px;
}

p {
     margin-bottom: 30px;
}

span {
     display: inline-block;
}

.pc_footer {
     display: none;
}

.pcgnav {
     display: none;
}

/* ----------------------------マルチクラス用---------------------------- */

.centering {
     text-align: center;
}

.container {
     text-align: center;
     margin: 0 auto;
     max-width: 950px;
     /* background-color: rgb(253, 253, 242); */
}

.flex {
     display: flex;
     justify-content: space-around;
}

.spot_more {
     border-radius: 20px;
     padding: 7px 20px;
     margin-bottom: 50px;
}

.more {
     border-radius: 20px;
     padding: 7px 20px;
}

/* サークルサイズ */

.circle {
     border-radius: 50%;
}

.short_circle_set {
     height: 35px;
     width: 35px;
     line-height: 35px;
}

.tall_circle_set {
     height: 40px;
     width: 40px;
     line-height: 40px;
     font-size: 22px;
}

.grande_circle_set {
     height: 50px;
     width: 50px;
     line-height: 50px;
     font-size: 24px;
}

/* カラー */

.fun_color_dark {
     background-color: #F0B75A;
     color: white;
}

.fun_color_middle {
     background-color: #F7D7A3;
     color: white;
}

.fun_color_light {
     background-color: #FAEAD0;
}

.calm_color_dark {
     background-color: #A5D495;
     color: white;
}

.calm_color_middle {
     background-color: #C4E3BA;
     color: white;
}

.calm_color_light {
     background-color: #E3F1DE;
}

.yum_color_dark {
     background-color: #CFB18B;
     color: white;
}

.yum_color_middle {
     background-color: #DECAAF;
     color: white;
}

.yum_color_light {
     background-color: #EDE2D3;
}

/*
楽（濃）‣#F0B75A ボタン・強調時
楽（通）‣#F7D7A3 基本
楽（薄）‣#FAEAD0 背景等

静（濃）‣#A5D495 ボタン・強調時
静（通）‣#C4E3BA 基本
静（薄）‣#E3F1DE 背景等

旨（濃）‣#CFB18B ボタン・強調時
旨（通）‣#DECAAF 基本
旨（薄）‣#EDE2D3 背景等
 */

/* ---------------PC時の表示設定--------------- */

@media screen and (min-width: 950px) {
     /* サークルの大きさ */
     .short_circle_set {
          height: 60px;
          width: 60px;
          line-height: 60px;
     }
     .tall_circle_set {
          height: 60px;
          width: 60px;
          line-height: 60px;
          font-size: 35px;
     }
     .grande_circle_set {
          height: 100px;
          width: 100px;
          line-height: 100px;
          font-size: 55px;
     }
     /* PC版は非表示 */
     .spgnav, .el_humburger_wrapper, .sp_footer {
          display: none !important;
     }
     /* PC版は表示 */
     .pc_footer, .pcgnav {
          display: block;
     }
     /* PC版共通設定 */
     html {
          font-size: 16px;
          line-height: 32px;
          color: #707070;
     }
     h2 {
          font-size: 27px;
     }
     .section_hedding {
          width: 400px;
     }
     .main_catch_copy {
          font-size: 36px !important;
     }
     .category_catch_copy {
          font-size: 30px;
          line-height: 38px !important;
     }
}
