html {
  font-family: "Noto Serif", serif;
  /* font-family: 'Noto Sans JP', sans-serif; */
  font-size: 14px;
  line-height: 32px;
  color: #707070;
  /* テキストをドラッグで選択きないようにする */
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

main>section {
  margin-bottom: 100px;
}

section>section {
  margin-bottom: 80px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  margin-bottom: 30px;
}

span {
  display: inline-block;
}

/* ----------------------------マルチクラス用---------------------------- */

.centering {
  text-align: center;
}

.container {
  text-align: center;
  margin: 0 auto;
  padding: 0 3%;
  max-width: 1000px;
  /* background-color: rgb(253, 253, 242); */
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.spot_more {
  border-radius: 20px;
  padding: 7px 20px;
  margin-bottom: 50px;
}

.more {
  border-radius: 20px;
  padding: 7px 20px;
  display: block;
  margin: 0 auto;
}

/* サークルサイズ */

.circle {
  border-radius: 50%;
}

.short_circle_set {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
}

.tall_circle_set {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 22px;
  text-align: center;
}

.grande_circle_set {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
}

.top_circle_set {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  line-height: 65px;
  font-size: 35px;
  text-align: center;
}

/* -----カラー----- */

/* テーマカラー */

.theme_color_dark {
  background-color: #67a1a6;
  color: white;
}

.theme_color_light {
  background-color: #e1f6f7;
  color: white;
}

/* 楽カラー */

.fun_color_dark {
  background-color: #9fbf82;
  color: white;
}

.fun_color_light {
  background-color: #ddebd1;
}

.fun_bdcolor_dark {
  border: #9fbf82 2px solid;
}

.fun_ftcolor_dark {
  color: #9fbf82;
}

/* 静カラー */

.calm_color_dark {
  background-color: #83ccd2;
  color: white;
}

.calm_color_light {
  background-color: #b5d0d2;
}

.calm_bdcolor_dark {
  border: #83ccd2 2px solid;
}

.calm_ftcolor_dark {
  color: #83ccd2;
}

/* 旨カラー */

.yum_color_dark {
  background-color: #eec362;
  color: white;
}

.yum_color_light {
  background-color: #ede3cc;
}

.yum_bdcolor_dark {
  border: #eec362 2px solid;
}

.yum_ftcolor_dark {
  color: #eec362;
}

/* ヘッダーセクション */

.sidepage_header .sp_header {
  padding: 20px 20px 0;
}

/* ---フッターセクション--- */

/* スマホ用フッター */

.sp_footer {
  text-align: center;
}

.sp_footer .wave_footer .waves {
  width: 100%;
  height: 158px;
}

.sp_footer .wave_footer {
  height: 158px;
}

.on_footer {
  padding: 30px 0;
}

.footer_h2 {
  justify-content: center;
  color: #8c6c47;
  margin-bottom: 20px;
}

.footer_h2 .fa-instagram {
  font-size: 30px;
  margin-right: 10px;
  color: #cfb18b;
}

.formbutton_parent {
  display: flex;
  justify-content: center;
  position: relative;
}

.top_return {
  position: absolute;
  right: 10%;
}

.under_footer ul li {
  line-height: 1.7rem;
}

.under_footer {
  background-color: #BFE1EC;
  color: #67A1A6;
}

.sp_footer .sns_tag h2 {
  color: #707070;
}

.sp_footer .footer_ul li {
  margin-bottom: 20px;
}

/* PC用フッター */

.pc_footer .footer_ul {
  color: #707070;
}

.pc_footer .footer_ul li {
  padding: 0 20px;
}

.pc_footer .footer_ul .fab {
  font-size: 40px;
}

.pc_footer .footer_ul .fa-twitter-square {
  color: #00acee;
}

.pc_footer .footer_ul .fa-facebook-square {
  color: #3b5998;
}

.pc_footer .footer_ul .fa-line {
  color: #00B900;
}

.pc_footer .under_footer ul {
  padding: 30px 0;
}

.pc_footer .under_footer ul li {
  padding: 0 20px;
}

.pc_footer .under_footer .right {
  text-align: center;
}

.pc_footer .waves {
  width: 100%;
  height: 180px;
}

.pc_footer .wave_footer {
  height: 180px;
}

.pc_footer .footer_logo {
  display: block;
  margin: 0 auto;
}

.pc_footer {
  display: none;
}

.pcgnav, .adjustment_height {
  display: none;
}

.adjustment_height {
  height: 100px;
}

/* SVG Animation   */

.parallax>use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* ---------------PC時の表示設定--------------- */

@media screen and (min-width: 1000px) {
  /* サークルの大きさ */
  .nav_circle_set {
    border-radius: 50%;
    text-align: center;
    height: 35px;
    width: 35px;
    line-height: 35px;
    margin: 0 5px;
  }
  .short_circle_set {
    border-radius: 50%;
    text-align: center;
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .tall_circle_set {
    border-radius: 50%;
    text-align: center;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 35px;
  }
  .grande_circle_set {
    border-radius: 50%;
    text-align: center;
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 55px;
  }
  /* PC版は非表示 */
  .spgnav, .sp_footer {
    display: none !important;
  }

  br.sp{
    display: none;
  }
  /* PC版は表示 */
  .pc_footer {
    display: block;
  }
  /* PC版共通設定 */
  html {
    font-size: 16px;
    line-height: 32px;
    color: #707070;
  }
  h2 {
    font-size: 27px;
  }
  .section_hedding {
    width: 400px;
  }
  .pcgnav {
    width: 100%;
  }
  .toppage_header .pcgnav {
    display: block;
    position: fixed;
    top: 0;
    z-index: 2;
  }
  .sidepage_header .pcgnav {
    display: block;
    position: fixed;
    top: 0;
    z-index: 2;
  }
  .adjustment_height {
    display: block;
  }
  .gnav_logo {
    padding: 10px 0;
    width: 170px;
  }
  .insta_container {
    display: inline-block;
    /* min-width: 100%; */
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
  .category_catch_copy{
    margin-bottom: 50px;
  }
}
