.pp_container p, .pp_container ol {
    text-align: left;
    margin-bottom: 50px;
}

.pp_container h3, .pp_container h2 {
    margin-bottom: 30px;
}

.pp_container h3 {
    text-align: left;
}

.site_about h3 {
    margin: 50px 0 20px 0;
    color: #333333;
    padding: 5px 10px;
    border-left: 10px solid #67a1a6;
    border-bottom: 1px dashed #67a1a6;
    text-align: left;
}

.site_about {
    text-align: left;
}

.about_table table {
    width: 100%;
}