.tag_search_wrap {
    border: dashed 2px #b5d0d2;
    border-radius: 30px;
    margin: 30px;
    padding: 10px 10px 30px;
}

.tag_search_wrap .search_title {
    color: #83ccd2;
    font-weight: 600;
    padding: 20px 0;
}

.checkbox_group label {
    display: block;
    text-align: left;
}

.search_section input[type="text"] {
    padding: 5px 0;
    border-radius: 20px;
    text-align: center;
    margin: 20px 0;
    width: 60%;
}

/* 検索結果のスタイル */

.fun_result, .calm_result, .yum_result {
    margin-bottom: 50px;
}

.result_items {
    flex-wrap: wrap;
}

.result_item {
    margin-bottom: 20px;
}

/* ブラウザ幅によって表示される行数を変更 */

@media screen and (max-width: 480px) {
    .result_item {
        width: 50%;
    }
}

@media screen and (min-width:481px) and ( max-width:700px) {
    .result_item {
        width: 30%;
    }
}

@media screen and (min-width:701px) {
    .result_item {
        width: 25%;
    }
}

.result_item img {
    width: 140px;
    height: 110px;
    object-fit: cover;
}

.result_item span {
    display: block;
}

.result_categry_title {
    margin: 0 auto;
    transform: translate(0, -50%);
}
