.tag_search_wrap {
    border: dashed 2px #b5d0d2;
    border-radius: 30px;
    margin: 30px;
    padding: 10px 10px 30px;
}

.tag_search_wrap .search_title {
    color: #83ccd2;
    font-weight: 600;
    padding: 20px 0;
}

.checkbox_group {
    max-width: 600px;
    margin: 0 auto;
}

.checkbox_group label {
    display: block;
    text-align: left;
}

.search_section input[type="text"] {
    padding: 5px 0;
    border-radius: 20px;
    text-align: center;
    margin: 20px 0;
    width: 80%;
    max-width: 450px;
}

.search_button_wrap label {
    padding: 5px 0;
    border-radius: 20px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    max-width: 300px;
}

.area_serch_more {
    width: 60%;
    max-width: 300px;
    margin: 0 auto;
}

.search_section input[type="submit"] {
    border-radius: 20px;
    text-align: center;
    width: 60%;
}

input::placeholder {
    color: rgb(228, 228, 228);
}

/* マップのスタイル */

.west_name {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

/* 検索結果のスタイル */

.fun_result, .calm_result, .yum_result {
    margin-bottom: 50px;
}

.result_items {
    flex-wrap: wrap;
}

.result_item {
    margin-bottom: 20px;
}

/* ブラウザ幅によって表示される行数を変更 */

.result_item img {
    width: 300px;
    height: 225px;
    object-fit: cover;
}

.result_item span {
    display: block;
    text-align: left;
}

.result_categry_title {
    margin: 0 auto;
    transform: translate(0, -50%);
}

@media screen and (max-width: 1000px) {
    .result_item {
        width: 50%;
    }
    .result_item img {
        width: 200px;
        height: 150px;
        object-fit: cover;
    }
    .result_item span {
        display: block;
        text-align: left;
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {
    .result_item {
        width: 50%;
    }
    .result_item img {
        width: 150px;
        height: 112.5px;
        object-fit: cover;
    }
}

/*マップ絞り込み検索の色が変わるcss*/

.map_color {
    height: auto;
    fill: #7bab4f;
    border: #fff;
    pointer-events: none;
}

#east:checked+label .map_color {
    fill: #000;
}

#west:checked+label .map_color {
    fill: #fdbc00;
}

#south:checked+label .map_color {
    fill: #83ccd2;
}

#north:checked+label .map_color {
    fill: #888888;
}

.area_search_wrap figure input {
    opacity: 0;
}

/*マップのsvgを徳島県の形に合わせてます*/

path {
    pointer-events: auto;
}

.area_search_wrap {
    height: 530px;
}

.area_search_flex {
    position: relative;
    height: 530px;
    width: 1400px;
    margin: auto;
}

.east_map_color {
    position: absolute;
    width: 17%;
    right: 37.5%;
    top: 21.9%;
    stroke: #fff;
    stroke-width: 2px;
}

.west_map_color {
    position: absolute;
    width: 32%;
    right: 46.1%;
    top: 11.3%;
    stroke: #fff;
    stroke-width: 2px;
}

.south_map_color {
    position: absolute;
    width: 31%;
    top: 34.5%;
    right: 31.3%;
    stroke: #fff;
    stroke-width: 2px;
}

.north_map_color {
    position: absolute;
    width: 12%;
    top: 1.7%;
    right: 35.59%;
    stroke: #fff;
    stroke-width: 2px;
}

@media screen and (max-width: 1000px) {
    .area_search_wrap {
        height: 400px;
    }
    .area_search_flex {
        position: relative;
        height: 400px;
        width: 800px;
        margin: auto;
    }
    .east_map_color {
        position: absolute;
        width: 18%;
        right: 21%;
        top: 25.4%;
        stroke: #fff;
        stroke-width: 2px;
    }
    .west_map_color {
        position: absolute;
        width: 34%;
        right: 30%;
        top: 17%;
        stroke: #fff;
        stroke-width: 2px;
    }
    .south_map_color {
        position: absolute;
        width: 33%;
        top: 35.5%;
        right: 14.2%;
        stroke: #fff;
        stroke-width: 2px;
    }
    .north_map_color {
        position: absolute;
        width: 13%;
        top: 8.9%;
        right: 18.72%;
        stroke: #fff;
        stroke-width: 2px;
    }
}

@media screen and (max-width: 750px) {
    .area_search_wrap {
        height: 300px;
    }
    .area_search_flex {
        position: relative;
        height: 300px;
        width: 550px;
        margin: auto;
    }
    .east_map_color {
        position: absolute;
        width: 18%;
        right: 35.8%;
        top: 26.4%;
        stroke: #fff;
        stroke-width: 2px;
    }
    .west_map_color {
        position: absolute;
        width: 34%;
        right: 44.8%;
        top: 18.5%;
        stroke: #fff;
        stroke-width: 2px;
    }
    .south_map_color {
        position: absolute;
        width: 33%;
        top: 35.5%;
        right: 29.2%;
        stroke: #fff;
        stroke-width: 2px;
    }
    .north_map_color {
        position: absolute;
        width: 13%;
        top: 11%;
        right: 33.6%;
        stroke: #fff;
        stroke-width: 2px;
    }
}

@media screen and (max-width: 550px) {
    .area_search_wrap {
        height: 300px;
    }
    .area_search_flex {
        position: relative;
        height: 300px;
        width: 550px;
        margin: auto;
    }
    .east_map_color {
        position: absolute;
        width: 18%;
        right: 31%;
        top: 26.4%;
        stroke: #fff;
        stroke-width: 2px;
    }
    .west_map_color {
        position: absolute;
        width: 34%;
        right: 40%;
        top: 18.5%;
        stroke: #fff;
        stroke-width: 2px;
    }
    .south_map_color {
        position: absolute;
        width: 33%;
        top: 35.5%;
        right: 24.2%;
        stroke: #fff;
        stroke-width: 2px;
    }
    .north_map_color {
        position: absolute;
        width: 13%;
        top: 10.9%;
        right: 28.82%;
        stroke: #fff;
        stroke-width: 2px;
    }
}

@media screen and (max-width: 430px) {
    .area_search_wrap {
        height: 300px;
    }
    .area_search_flex {
        position: relative;
        height: 300px;
        width: 380px;
        margin: auto;
    }
    .east_map_color {
        position: absolute;
        width: 22%;
        right: 32.4%;
        top: 27.8%;
        stroke: #fff;
        stroke-width: 2px;
    }
    .west_map_color {
        position: absolute;
        width: 41%;
        right: 43.4%;
        top: 21.4%;
        stroke: #fff;
        stroke-width: 2px;
    }
    .south_map_color {
        position: absolute;
        width: 40%;
        top: 35.5%;
        right: 24.2%;
        stroke: #fff;
        stroke-width: 2px;
    }
    .north_map_color {
        position: absolute;
        width: 15.4%;
        top: 15.6%;
        right: 29.99%;
        stroke: #fff;
        stroke-width: 2px;
    }
}

/*
single.cssの110行目
.info_actab input[type="checkbox"] + label::after {content: "+";}
を打ち消している
*/

#east+label::after {
    content: none;
}

#west+label::after {
    content: none;
}

#south+label::after {
    content: none;
}

#north+label::after {
    content: none;
}

@media screen and (min-width: 1000px) {
    .search_button_wrap {
        display: flex;
        justify-content: space-around;
    }
}
