/*左上のロゴ*/

.logo {
    margin: 10px 15px;
    width: 50px;
    height: 50px;
}
@media screen and (min-width: 940px) {
    .logo {
        display: none;
    }
}

/*背景画像*/
.background_img img {
    position: fixed;
    height: 100vh;
    width: 1920px;
    z-index: -5;
}
/* ハンバーガーメニュー始 */
.model_spot_card {
    border: solid 3px #c8a87a;
    border-radius: 5%;
    padding: 10px 10px 0 10px;
}
.model_spot_wrap {
    margin: 0 3.5%;
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .model_spot_wrap {
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1025px) {
    .model_spot_wrap {
        position: absolute;
        width: 34%;
        display: none;
    }
    .spot_fade_in1 {
        top: 47%;
        right: -40%;
    }
    .spot_fade_in2 {
        top: 113%;
        left: -40%;
    }
    .spot_fade_in3 {
        top: 176%;
        right: -40%;
    }
}

.model_circle_set {
    border-radius: 50%;
    text-align: center;
    height: 100px;
    width: 100px;
    line-height: 96px;
    margin: 0 5px;
    background-color: #67a1a6;
}
.model_big_circle {
    height: 150px;
    width: 150px;
    font-size: 2rem;
    text-align: center;
    line-height: 150px;
}
@media screen and (min-width: 940px) {
    .model_big_circle {
        font-size: 1.5rem;
    }
}

.road {
    width: 20px;
    height: 100px;
    text-align: center;
    display: block;
    margin: -2px auto 0;
    background-color: #67a1a6;
}
@media screen and (min-width: 1300px) {
    .road {
        height: 150px;
    }
}

.model_spot_wrap img {
    width: 95%;
    height: 50%;
    object-fit: cover;
    margin: 30px 0;
}

.model_info {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
}

.model_couse_title {
    font-size: 2rem;

    margin-top: 2%;
}
@media screen and (max-width: 1024px) {
    .pc_spot_more {
        display: none;
    }
}
.spot_more {
    margin: 0;
    margin-bottom: 10px;
}
.pc_spot_name1 {
    margin-bottom: 0;
}
.pc_spot_name2 {
    margin-bottom: 0;
}
.pc_spot_name3 {
    margin-bottom: 0;
}
.model_pc_img_top {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.model_pc_img_top img {
    width: 100%;
    object-fit: cover;
}

.model_description {
    padding-top: 30px;
    z-index: 2;
    margin: auto;
}

.model_description h2 {
    margin-bottom: 10px;
    margin-top: 30px;
}

.model_description h2 p {
    font-size: 0.5em;
}

.model_card_description {
    margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
    .model_pc_img,
    .model_pc_img_top {
        display: none;
    }
}

/*SP版画像配置*/

.model_sp_img2 img {
    position: relative;
    top: 80%;
    left: 60px;
    width: 100px;
}

.model_sp_img3 img {
    position: relative;
    top: 20px;
    left: 50px;
    width: 100px;
}

.model_sp_img4 img {
    position: relative;
    width: 70px;
    top: 10px;
    right: 120px;
}

.model_sp_img5 img {
    position: relative;
    top: 50px;
    right: 150px;
    width: 100px;
    height: 60px;
}

@media screen and (min-width: 480px) and (max-width: 640px) {
    .model_sp_img2 img {
        left: 150px;
    }
    .model_sp_img3 img {
        left: 140px;
    }
    .model_sp_img4 img {
        right: 240px;
    }
    .model_sp_img5 img {
        right: 300px;
    }
    .model_sp_img6 img {
        width: 400px;
    }
}

@media screen and (min-width: 640px) {
    .model_sp_img2 img {
        left: 150px;
    }
    .model_sp_img3 img {
        left: 140px;
    }
    .model_sp_img4 img {
        right: 240px;
    }
    .model_sp_img5 img {
        right: 300px;
    }
    .model_sp_img6 img {
        width: 300px;
    }
}

/*PC版画像配置*/

@media screen and (min-width: 481px) and (max-width: 640px) {
    .model_sp_img2 img {
        height: 30px;
        width: 70px;
        left: 100px;
    }
    .model_sp_img6 img {
        margin-top: 30px;
        width: 30%;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
    .model_sp_img2 img {
        position: absolute;
        top: 215%;
    }
    .model_sp_img3 img {
        left: 140px;
    }
    .model_sp_img4 img {
        right: 240px;
    }
    .model_sp_img5 img {
        position: absolute;
        right: 70%;
        top: 50%;
        width: 150px;
        height: 90px;
        animation: carmove 3s ease infinite;
    }
    @keyframes carmove {
        0% {
            transform: translateY(0);
        }
        5% {
            transform: translateY(0);
        }
        10% {
            transform: translateY(0);
        }
        20% {
            transform: translateY(-15px);
        }
        25% {
            transform: translateY(0);
        }
        30% {
            transform: translateY(-15px);
        }
        50% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(0);
        }
    }
}
.model_sp_img6 img {
    width: 300px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .model_sp_img2 img {
        height: 50px;
        width: 100px;
        left: 70%;
        top: 180%;
        position: absolute;
    }
    .model_sp_img3 img {
        left: 10%;
        top: 234%;
        position: absolute;
    }
    .model_sp_img4 img {
        position: absolute;
        right: 80%;
        top: 100%;
    }
    .model_sp_img5 img {
        position: absolute;
        right: 80%;
        top: 45%;
        width: 150px;
        height: 90px;
        animation: carmove 3s ease infinite;
    }
    @keyframes carmove {
        0% {
            transform: translateY(0);
        }
        5% {
            transform: translateY(0);
        }
        10% {
            transform: translateY(0);
        }
        20% {
            transform: translateY(-15px);
        }
        25% {
            transform: translateY(0);
        }
        30% {
            transform: translateY(-15px);
        }
        50% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(0);
        }
    }
    .model_sp_img6 img {
        width: 300px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .model_sp_img6 img {
        margin-top: 30px;
        width: 30%;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1025px) {
    .model_sp_img2 img {
        height: 75px;
        width: 150px;
        left: 70%;
        top: 160%;
        position: absolute;
    }
    .model_sp_img3 img {
        left: 20%;
        top: 234%;
        width: 15%;
        position: absolute;
    }
    .model_sp_img4 img {
        position: absolute;
        right: 80%;
        top: 60%;
    }
    .model_sp_img5 img {
        position: absolute;
        right: 60%;
        top: 80%;
        width: 200px;
        height: 140px;
        animation: carmove 3s ease infinite;
    }
    @keyframes carmove {
        0% {
            transform: translateY(0);
        }
        5% {
            transform: translateY(0);
        }
        10% {
            transform: translateY(0);
        }
        20% {
            transform: translateY(-15px);
        }
        25% {
            transform: translateY(0);
        }
        30% {
            transform: translateY(-15px);
        }
        50% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(0);
        }
    }
    .model_sp_img6 img {
        width: 300px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .model_sp_img6 img {
        margin-top: 30px;
        width: 30%;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 940px) {
    .model_card {
        display: flex;
        justify-content: space-between;
        max-width: 1500px;
        margin: 0 auto;
    }
    .model_card li {
        margin: 0 20px 50px;
    }
    .model_sp_img1 {
        display: none;
    }
    .model_description {
        position: relative;
        margin-bottom: 80px;
        margin-top: 20px;
    }
}

.back_model_archive {
    background-color: #c8a87a;
    color: #fff;
    border-radius: 30px;
    width: 136px;
    margin-bottom: 100px;
    font-size: 0.9em;
    margin-top: 50px;
}

.fun {
    background-color: #9fbf82;
}
.calm {
    background-color: #83ccd2;
}
.tasty {
    background-color: #eec362;
}

.sample {
    height: 20%;
    width: 40%;
}
