/* ハンバーガーメニュー始 */

.el_humburger {
  position: fixed;
  top: 45px;
  right: 60px;
  width: 46px;
  height: 25px;
  padding-top: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0px;
  z-index: 20;
  cursor: pointer;
  pointer-events: auto;
  color: #000;
  text-align: center;
}

@media screen and (max-width: 940px) {
  .el_humburger {
    display: block;
    right: 0;
    top: 0;
    padding-top: 20px;
    width: 70px;
    height: 70px;
  }
  #factory .el_humburger {
    display: none;
  }
}

.el_humburger_wrapper {
  margin-bottom: 5px;
  width: 42px;
  display: inline-block;
}

@media screen and (max-width: 940px) {
  .el_humburger_wrapper {
    margin-bottom: 5px;
    width: 30px;
  }
}

.el_humburger_text {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-family: "游ゴシック Medium", YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}

.js_humburgerOpen .el_humburger_text.el_humburger_text__menu {
  display: none;
}

.el_humburger_text.el_humburger_text__close {
  display: none;
}

.js_humburgerOpen .el_humburger_text.el_humburger_text__close {
  display: block;
}

@media screen and (max-width: 940px) {
  .el_humburger_text {
    font-size: 10px;
    padding-top: 2px;
  }
}

@media screen and (max-width: 940px) {
  .el_humburger_text svg path {
    -webkit-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    -o-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    fill: #000;
  }
}

@media screen and (max-width: 940px) {
  .js_humburgerOpen .el_humburger_text svg path {
    fill: #000;
  }
}

.el_humburger span.el_humburger_bar {
  display: block;
  width: 100%;
  margin: 0 auto 9px;
  height: 1px;
  background: #000;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.el_humburger span.el_humburger_bar:last-child {
  margin-bottom: 0;
}

.js_humburgerOpen .el_humburger span.el_humburger_bar {
  background: #000;
}

@media screen and (max-width: 940px) {
  .el_humburger span.el_humburger_bar {
    left: 0;
    top: 0;
    background: white;
  }
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.top {
  -webkit-transform: translateY(9px) rotate(-45deg);
  -ms-transform: translateY(9px) rotate(-45deg);
  transform: translateY(9px) rotate(-45deg);
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.middle {
  opacity: 0;
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-11px) rotate(45deg);
  -ms-transform: translateY(-11px) rotate(45deg);
  transform: translateY(-11px) rotate(45deg);
}

.el_humburgerButton.el_humburgerButton__close {
  top: 2%;
  right: 2%;
}

.el_humburgerButton__close span.el_humburger_bar {
  display: block;
  width: 35px;
  margin: 0 auto;
  height: 4px;
  background: #000;
}

.el_humburgerButton__close span.el_humburger_bar.top {
  -webkit-transform: translateY(5px) rotate(-45deg);
  -ms-transform: translateY(5px) rotate(-45deg);
  transform: translateY(5px) rotate(-45deg);
}

.el_humburgerButton__close span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-6px) rotate(45deg);
  -ms-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg);
}

.spgnav {
  position: fixed;
  right: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  width: 0;
  z-index: 3;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  overflow: hidden;
}

.js_humburgerOpen .spgnav {
  width: 450px;
}

@media screen and (max-width: 940px) {
  .js_humburgerOpen .spgnav {
    width: 100%;
    padding: 100px 5% 0;
  }
}

.gnav_item {
  margin-bottom: 28px;
  font-size: 20px;
  font-family: "Marcellus", serif !important;
  white-space: nowrap;
  margin-left: 90px;
}

.gnav_item.op_innerLink {
  cursor: pointer;
}

@media screen and (max-width: 940px) {
  .gnav_item {
    margin-left: 0;
    font-size: 18px;
  }
}

.gnav_inner {
  text-align: center;
}

.gnav_menu {
  text-align: left;
  width: 130px;
  margin: 0 auto;
}

.gnav_item span {
  text-align: center;
  margin-right: 8px;
}

/* ハンバーガーメニュー終 */



/* メインビジュアルスタイル */

.main_visual {
  position: relative;
  height: 100vh;
}

.main_visual_images {
  position: relative;
}

.main_visual_images img {
  width: 100%;
  position: absolute;
}

.main_catch_copy {
  position: absolute;
  top: 50vh;
  left: 50%;
  color: white;
  font-size: 32px;
  text-align: center;
  line-height: 3.5rem;
  transform: translate(-50%, -50%);
}

.main_visual_logo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* あわいやしとは？セクション */

.site_about_title {
  padding-top: 80px;
  margin-bottom: 50px;
}

.top_category_set {
  display: flex;
  /* width: 200px; */
  justify-content: center;
  margin: 0px auto 50px;
}

.top_category_set li {
  margin: 0 50px;
}

/* メインカテゴリーセクション */

.section_hedding {
  display: flex;
  justify-content: space-around;
  width: 250px;
  margin: 0 auto;
  position: relative;
}

.section_hedding span {
  height: 35px;
  width: 35px;
}

.section_hedding {
  margin-bottom: 40px;
}

.global_section_title {
  margin-bottom: 100px;
  text-align: center;
}

.global_section_title p {
  font-size: 14px;
}

.fun_category {
  background: linear-gradient( 180deg, #ffffff 0%, #ffffff 20%, #ddebd1 20%, #ddebd1 100%);
}

.calm_category {
  background: linear-gradient( 180deg, #ffffff 0%, #ffffff 20%, #b5d0d2 20%, #b5d0d2 100%);
}

.yum_category {
  background: linear-gradient( 180deg, #ffffff 0%, #ffffff 20%, #ede3cc 20%, #ede3cc 100%);
}

.spot_img_frame {
  display: block;
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
}

.spot_img {
  width: 100%;
}

.category_catch_copy {
  position: absolute;
  top: 20px;
  right: 0;
  font-family: "Yu Mincho";
  /* Windows用 */
  color: white;
  background-color: #2a2a2a60;
  padding: 5px 20px;
  text-align: left;
  line-height: 1.9rem;
}

.fun_category span, .yum_category span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.calm_category span {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

/* モデルコースセクション */

.model_course_parent {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.model_course_parent .model_course_mask {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  right: 0;
  transform: scale(1.001);
}

/* インスタセクション */

.instagram {
  background: url("../image/instaimage.jpg");
  background-size: cover;
}

.instagram .fa-instagram {
  font-size: 70px;
  margin: 30px 0;
}

.insta_container {
  color: white;
  background-color: rgba(80, 80, 80, 0.5);
  /* opacity: 0.3; */
  padding: 30px 0;
}

.insta_container {
  padding: 0 100px;
}

.insta_container .container {
  padding: 50px 0;
}

.insta_hashtag_title {
  font-size: 27px;
  margin-top: 30px;
  font-weight: 600;
}
