.top_category_set{
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin:15px auto;

}
    .top_category_set li{
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 22px;
        color: white  ;
    }


.section_hedding{
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: 0 auto;
    position: relative;
}

    .section_hedding span{
        height: 35px;
        width: 35px;
    }

    .section_hedding h2{
        position: absolute;
        top: 0;
        left: 0;

    }
